.navbar {
    font-size: 40px;
    position: relative;
    text-align: right;
    color: white;
    display: block;
    height: 200px;
    }

img.navbar {
    position:fixed;
    width: 1920px;
    height: 670px;
    


}

a.navbar {
    color: aliceblue;
}


ul{ 
    
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    


}

#navbarlist li {

    
}

    
  

